{% extends 'games/base.html' %}
{% block header %}{{ page_title }}{% endblock header %}
{% block content %}
    <section class="section">
        {% if not library_entries_count %}

                <h2 class="section-title">{{ game.title }}</h2>
                <p class="section-text">Вы действительно хотите удалить {{ game.title }}?</p>
                <form method="post" class="game-detail-actions">
                    {% csrf_token %}
                    <button type="submit" class="button button-danger">Удалить игру</button>
                    <a class="button" href="{% url 'games:game_detail' game_slug=game.slug %}">Отмена</a>
                </form>
        {% else %}
                <h2 class="section-title">{{ game.title }}</h2>
                <p class="section-text">Нельзя удалить данную игру так как она есть в библиотеках пользователей!</p>
                <a class="button" href="{% url 'games:game_detail' game_slug=game.slug %}">Вернуться к игре</a>
        {% endif %}
    </section>
{% endblock %}